@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-light: #ffffff;
  --color-dark: #000000;
}

@theme inline {
  --color-light: #fffff;
  --color-dark: #000000;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --breakpoint-xsm: 400px;
  --breakpoint-usm: 320px;
}
body {
  background-color: var(--color-gray-900);
  color: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
