.btn {
  background-color: var(--color-amber-400);
  color: black;
  padding: 10px;
  border: 1px solid var(--color-neutral-300);
  box-shadow: 0 5px 20px #000d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}

.deleteBtn {
  background-color: var(--color-red-500);
  padding: 10px;
  grid-column: 1 / 3;
  border: 1px solid var(--color-neutral-300);
  box-shadow: 0 5px 20px #000d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}

.cardImage {
  transition: all 0.2s ease-in-out;
}

.game-card:hover .cardImage {
  scale: 0.9;
  filter: brightness(0.8);
}

.buyBtn {
  background: #000a;
  border: 1px solid #fafafa;
  grid-column: 1 / 3;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 20px #000d;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--color-amber-300);
  font-size: 1.1rem;
  gap: 15px;
  scale: 1.05;
  cursor: pointer;
}

.deleteBtn:hover,
.deleteBtn:focus,
.deleteBtn:active {
  background-color: var(--color-red-400);
  font-size: 1.1rem;
  gap: 15px;
  scale: 1.05;
  cursor: pointer;
}

.buyBtn:hover,
.buyBtn:focus,
.buyBtn:active {
  color: var(--color-amber-400);
  border-color: var(--color-amber-400);
  background-color: var(--color-slate-800);
  font-size: 1.1rem;
  gap: 15px;
  scale: 1.05;
  cursor: pointer;
}
